body {
    color: rgb(10, 10, 10);           
    background-color: #DFDDDF;        
    background-image: url('images/background.jpg'); 
    font-family: "Lora", serif;
    font-size: 18px;                   
    margin: 0; /* Remove default margins */
}

.container {
    width: 700px; /* set the width of your container */
    margin: 40px auto; /* set margins: top/bottom: 40px; left/right: automatic */
}

.card-white {
    background-color: white; /* white background color */
    border-radius: 5px; /* rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* elegant shadow */
    padding: 20px; /* space inside the card */
    margin-bottom: 20px; /* space between cards */
    transition: box-shadow 0.3s; /* transition effect for the shadow */
}

.card-white:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* hover effect */
}

h1, h2 {
    font-family: "Exo 2", sans-serif;
    font-weight: normal; /* normal weight for titles */
}

h2 {
    color: rgb(255, 83, 13);
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: yellow;
}

ul {
    list-style: none; /* remove bullet points */
    padding: 0; /* remove padding */
}

li {
    margin: 5px 0; /* space between list items */
}







 








